{{ define "meta" }}
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:type" content="article" />
	{{ if isset .Params "media" }}
		<meta property="og:image" content="{{ .Params.media }}" />
		<meta property="og:image:alt" content="{{ .Params.media_alt }}" />
	{{ end }}
	<meta property="og:description" content="{{ .Summary }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
{{ end }}
{{ define "main" }}
	<main id="post-content">
		<article>
			<h1>{{ .Title }}</h1>
			{{ $date_posted := .Date.Format (.Site.Params.dateFormat | default "20060102") }}
			{{ $date_updated := .Lastmod.Format (.Site.Params.dateFormat | default "20060102") }}
			<strong>Posted: </strong><time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
			{{ if gt $date_updated $date_posted }}
				| <strong>Updated: </strong><time datetime="{{ .Date.Format "2006-01-02T15:04:05"}}">{{ .Lastmod.Format "02.01.2006 15:04" }}</time>
			{{ end }}
			{{ with .Params.tags }}
			| <strong>Tags:</strong>
				{{ range . }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
		<br>
		{{ partial "related" . }}
	</main>
{{ end }}
