<article class="post">
	{{ if isset .Params "media" }}
		<div class="post-img">
			{{ $image := resources.GetRemote .Params.media }}
			<div class="post-img-info"></div>
			<img src='{{ ( $image.Resize "620x" ).RelPermalink }}' alt="{{ .Params.media_alt}}">
		</div>
	{{ end }}
	<div class="post-text">
		<div class="post-info">
			<a class="post-info-title" href="{{ .Permalink }}">{{ .Title }}</a>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}

		</div>
		<div class="post-blurb">
			{{ .Summary | plainify}}
			{{ if .Truncated }}
				<a href="{{ .Permalink }}">Read more...</a>
			{{ end }}
		</div>
	</div>
</article>
<hr>
