{{ $toot_reference := .Get 0 }}
{{ $url := printf "static/data/toots/%s.json" $toot_reference }}
{{ $dataJ := dict }}
{{ with readFile $url }}
    {{ $dataJ = . | transform.Unmarshal }}
{{ else }}
    {{ errorf "%s - %s" .  $url }}
{{ end }}

{{ with $dataJ }}
{{ if ne .content "" }}
<article class="toot">
<div class="metadata">
 <img class="avatar" src="{{ .account.avatar }}"/>
 <div>
 <div class="name"><a href="{{ .account.url }}">@{{ .account.username }}</a></div>
 <div class="date"><time class="dt-published" datetime='{{ .created_at }}'>{{ dateFormat "2 January 2006 15:04" (time .created_at) }}</time></div>
 <p>{{ .content | safeHTML }}</p>
 </div>

</div>

{{ if gt (len .media_attachments) 0 }}
<div class="toot-imgs">
{{ range .media_attachments}}
 {{ if eq .type "image" }}
  <img src="{{ .preview_url }}" alt="{{ .description }}"/>
 {{ end }}
{{ end }}
</div>
{{ end }}

<div class="toot-social">
<span><i class='fas fa-share'></i> Replies: {{ .replies_count }} </span>
<span><i class='fas fa-retweet'></i> Boosts: {{ .reblogs_count }} </span>
<span><i class='fas fa-star'></i> Favourites: {{ .favourites_count }} </span>
<span>| <a href="{{ .url }}">Source</a></span>
</article>
{{ end }}
{{ end }}